services:
  dev-db:
    image: postgres:16
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - freecodecamp
volumes:
  postgres-data:
networks:
  freecodecamp:
